.gameboard-bonus    {
    display: flex;
    max-height: 300px;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url('http://localhost:3000/assets/bg-pentagon.svg');
    background-size: 200px;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-position: center;

    img{
        display: inline;
        position: relative;
        width: 85px;
    }

    img:nth-child(1){
        left: 110px;
        margin-bottom: 20px;
        align-self: end;
    }

    img:nth-child(2){
        margin-bottom: 30px;
        margin-right: 10px;
    }

    img:nth-child(3){
        margin-top: 25px;
        align-self: start;
    }

    img:nth-child(4){
        margin-bottom: 30px;
        margin-left: 10px;
    }

    img:nth-child(5){
        right:110px;
        margin-bottom: 20px;
        align-self: end;
    }
}