.gameboard-bonus {
    display: flex;
    height: 300px;
    width: 300px;
    margin-left: calc(calc(100% - 300px) / 2);
    margin-top: calc(calc(50vh - 300px) / 2);
    flex-direction: row;
    justify-content: center;
    background-image: url('http://localhost:3000/assets/bg-pentagon.svg');
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;

    img{
        display: inline;
        position: relative;
        width: 85px;
        height: 85px;
        border-radius: 100%;
    }

    img:nth-child(1){
        top: 200px ;
        left: 100px ;
    }

    img:nth-child(2){
        top: 91px ;
        right: 23px ;
    }

    img:nth-child(3){
        top: 24px ;
    }

    img:nth-child(4){
        top: 91px ;
        left: 23px ;
    }

    img:nth-child(5){
        top: 200px ;
        right: 100px ;
    }
}

@media screen and (min-width: 768px) and (orientation: portrait){
    .gameboard-bonus{
        height: 600px;
        width: 600px;
        background-size: 400px;
        margin-left: calc(calc(100% - 600px) / 2);
    
        img{
            width: 200px;
            height: 200px;
            border-radius: 100%;
        }

        img:nth-child(1){
            top: 400px;
            left: 260px;
        }
    
        img:nth-child(2){
            top: 170px;
            right: 15px;
        }
    
        img:nth-child(3){
            top: 30px;
        }
    
        img:nth-child(4){
            top: 170px;
            left: 15px;
        }
    
        img:nth-child(5){
            top: 400px;
            right: 260px;
        }
    }
}

@media screen and (min-width: 1024px) and (orientation: landscape){
    .gameboard-bonus{
        position: relative;
        top: 20px;
        height: 400px;
        width: 400px;
        background-size: 250px;
        margin-left: calc(calc(100% - 400px) / 2);
        margin-top: calc(calc(50vh - 400px) / 2);
    
        img{
            width: 120px;
            height: 120px;
            border-radius: 100%;
        }

        img:nth-child(1){
            left: 143px;
            top: 264px;
        }
    
        img:nth-child(2){
            right: 10px;
            top: 114px;
        }
    
        img:nth-child(3){
            top: 20px;
        }
    
        img:nth-child(4){
            left: 10px;
            top: 114px;
        }
    
        img:nth-child(5){
            right: 143px;
            top: 264px;
        }
    }
}