.rules{
    position: fixed;
    width: 100%;
}

.back-to-game-options{
    width: 110px;
    aspect-ratio: 110/33;
    float:left;

    transition: all 1s;
    
    fill: white;

    :hover{
        width: 130px;
        aspect-ratio: 110/33;
    }
}

.show-the-rules{
    width: 110px;
    aspect-ratio: 110/33;
    float:right;
    background-color: transparent;
    border: 2px solid hsl(217, 16%, 45%);
    border-radius: 7px;

    transition: all 1s;

    text-align: center;
    color: white;
    letter-spacing: 1px;   
    font-weight: 600;

    :hover{
        width: 130px;
        background-color: white;
        color:hsl(217, 16%, 45%);
    }
}
